In [1]:
import pandas as pd
from glob import glob

In [2]:
ls 2020-2011

2011.csv  2013.csv  2015.csv  2017.csv  2019.csv
2012.csv  2014.csv  2016.csv  2018.csv  2020.csv

In [4]:
df = pd.read_csv('2020-2011/2011.csv', sep=';')
df.head()

,Unnamed: 0,Commodity,Contract month,Previous settlement price (*),Current settlement price,Variation,Settlement value per contract (R$),Dia,Mes,Ano,Data Input
0,0,AUD - Australian dollar,F12,1891.3910,1897.4650,6.0740,364.44,29,12,2011,12/29/2011
1,1,AUD - Australian dollar,G12,1897.2250,1897.0870,-0.1380,8.28,29,12,2011,12/29/2011
2,2,B20 - Global 2020,F12,167.9375,166.7000,-1.2375,1160.65,29,12,2011,12/29/2011
3,3,B20 - Global 2020,J12,164.8750,163.5937,-1.2813,1201.73,29,12,2011,12/29/2011
4,4,B40 - Global 2040,F12,132.6562,132.5500,-0.1062,99.60,29,12,2011,12/29/2011

In [7]:
(df['Commodity']  + df['Contract month']).nunique()

432

<h1>Data Description</h1>

The datasets contained in the folder `2020-2011` contain data for derivatives from 2011 to 2020. The dataset contains the following columns

<h4>Commodity</h4>

Name of the derivative. Examples of derivatives are AUD - Australian dollar and B20 - Global 2020

<h4>Contract month</h4>

Indicates the due date of the contract. In the finance market, contracts for the same commodity can be negotiated with different due dates. So an asset is constituted by the pair (Commodity, Contract Month)

<h4>Previous settlement price (*)</h4>

Settlement price of the asset for the last business day. Settlement price is the average value for which a contract trades

<h4>Current settlement price</h4>

Settlement price of the asset for the current business day

<h4>Variation</h4>

Abslute difference between the Previous settlement price and Current settlement price column

<h4>Settlement value per contract (R$)</h4>

Value in BRL that has to be adjusted per contract

<h4>Dia, Mes, Ano, Data Input</h4>

Dia: Day to which the data refers to
Mes: Month to which the data refers to
Ano: Year to which the data refers to
Data Input: Original data as provided in the source

For our analysis we are going to need only the columns

Commodity
Contract month
Current settlement price
Dia
Mes
Ano

We are choosing only the current settlement price because this column has the information contained in the Previous settlement price when looking at a previous date and the Variation column can also be derived from it. As for the column `Settlement value per contract`, we are dropping it as it only displays the absolute value of the variation and does not point to its direction.

In [7]:
df.head()

,Unnamed: 0,Commodity,Contract month,Previous settlement price (*),Current settlement price,Variation,Settlement value per contract (R$),Dia,Mes,Ano,Data Input
0,0,AUD - Australian dollar,F12,1891.3910,1897.4650,6.0740,364.44,29,12,2011,12/29/2011
1,1,AUD - Australian dollar,G12,1897.2250,1897.0870,-0.1380,8.28,29,12,2011,12/29/2011
2,2,B20 - Global 2020,F12,167.9375,166.7000,-1.2375,1160.65,29,12,2011,12/29/2011
3,3,B20 - Global 2020,J12,164.8750,163.5937,-1.2813,1201.73,29,12,2011,12/29/2011
4,4,B40 - Global 2040,F12,132.6562,132.5500,-0.1062,99.60,29,12,2011,12/29/2011

In [8]:
work_df = df[['Commodity', 'Contract month', 'Current settlement price', 'Dia', 'Mes', 'Ano']]
work_df.columns = ['commodity', 'contract_month', 'price', 'day', 'month', 'year']
work_df.head()

                 commodity contract_month      price  day  month  year
0  AUD - Australian dollar            F12  1897.4650   29     12  2011
1  AUD - Australian dollar            G12  1897.0870   29     12  2011
2        B20 - Global 2020            F12   166.7000   29     12  2011
3        B20 - Global 2020            J12   163.5937   29     12  2011
4        B40 - Global 2040            F12   132.5500   29     12  2011

In [9]:
glob('./2020-2011/*.csv')

['./2020-2011/2019.csv',
 './2020-2011/2012.csv',
 './2020-2011/2018.csv',
 './2020-2011/2015.csv',
 './2020-2011/2017.csv',
 './2020-2011/2014.csv',
 './2020-2011/2011.csv',
 './2020-2011/2016.csv',
 './2020-2011/2013.csv',
 './2020-2011/2020.csv']

In [10]:

def get_entries_for_year(data_regex):
    year_to_count = {
        'year': [],
        'count': [],
    }

    for source_file in glob(data_regex):
        year = source_file.split('/')[2][:-4]

        df = pd.read_csv(source_file, sep=';')

        year_to_count['year'].append(year)
        year_to_count['count'].append(df.shape[0])
        
    return year_to_count

def get_year_to_count_df(data_regex):
    entries_for_year = get_entries_for_year(data_regex)
    
    return pd.DataFrame(entries_for_year).sort_values(['year']).reset_index().drop('index', axis=1)

df = get_year_to_count_df('./2020-2011/*.csv')
df

/home/julio/python3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3417: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

   year   count
0  2011   46284
1  2012   52180
2  2013   62943
3  2014   59222
4  2015   55339
5  2016   53873
6  2017   48025
7  2018   79918
8  2019  119217
9  2020  106381

In [8]:
a = [1,2,3,4,5]

list(map(
    lambda x: x + 1,
    a
))

[2, 3, 4, 5, 6]

In [17]:
df.columns

Index(['Unnamed: 0', 'Commodity', 'Contract month',
       'Previous settlement price (*)', 'Current settlement price',
       'Variation', 'Settlement value per contract (R$)', 'Dia', 'Mes', 'Ano',
       'Data Input'],
      dtype='object')

In [30]:
df.Commodity.astype(float)

ValueError: could not convert string to float: 'AUD - Australian dollar'

In [25]:
df.head().apply(lambda row: row['Commodity'] + row['Contract month'], axis=1)

0    AUD - Australian dollarF12
1    AUD - Australian dollarG12
2          B20 - Global 2020F12
3          B20 - Global 2020J12
4          B40 - Global 2040F12
dtype: object

In [15]:
df.head()['Contract month'].apply(lambda month: month.replace('12', 'Timao eh gato'))

0    FTimao eh gato
1    GTimao eh gato
2    FTimao eh gato
3    JTimao eh gato
4    FTimao eh gato
Name: Contract month, dtype: object

In [12]:
df.head()['Mes'].apply(lambda x: x + 1)

0    13
1    13
2    13
3    13
4    13
Name: Mes, dtype: int64

In [31]:
df1 = pd.DataFrame({'id': [1,2,3]})
df2 = pd.DataFrame({'id': [2,3,4]})

print(df1.head())
df2.head()

   id
0   1
1   2
2   3

   id
0   2
1   3
2   4

In [34]:
df1.merge(df2, on='id', how='inner')

   id
0   2
1   3

In [33]:
df1.merge(df2, on='id', how='left')

   id
0   1
1   2
2   3

In [35]:
df1.merge(df2, on='id', how='right')

   id
0   2
1   3
2   4

In [36]:
df1.merge(df2, on='id', how='outer')

   id
0   1
1   2
2   3
3   4